:host {
  display: flex;
}

.load-image, .load-model, .predict {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-image, .load-model, .predict {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-image > *, .load-model > *, .predict > * {
  margin: 0 10px 0 0;

}
