<div class="load-image">
  <button (click)="upload.click()" [disabled]="loadImagesDisabled">Upload images</button>
  <input hidden #upload type="file" (change)="loadImages($event)" multiple/>
  - or -
  <button (click)="loadDemoImages()" [disabled]="loadImagesDisabled">Load demo images</button>
  <div>{{loadStatus}}</div>
</div>
<div class="load-model">
  <button (click)="loadModel($event)">Load model</button>
  <div id="model-progress">{{modelStatus}}</div>
</div>
<div class="predict">
  <button (click)="predict()" [disabled]="predictDisabled">Predict</button>
  <div>{{predictStatus}}</div>
</div>
