.channel-buttons {
  margin: 0 0 10px 0;
}

.channel-button {
  color: rgba(0, 0, 0, .87);
}

.image-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  margin: 0;
  padding: 5px;
  font-size: 13px;
}

.overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
